.idea/*
.DS_Store
__pycache__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
data
results
lightning_logs
.vscode/launch.json
cometml.json
checkpoints/
.gitignore
aws_cli_login.sh
t5-base-vocab-100/
draw_sample.py
.vscode/settings.json
preprocess/split_to_filenames_v4.json
wrong_vs_all.png
wrong_vs_ture.png
diff_token.png
.gitignore
wrong_vs_true_token.png
wrong_vs_all_token.png
wrong_vs_true.png
amir-ec2.pem
v4_stat.png
deppmind_v0.png
