.idea/*
.DS_Store
__pycache__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
data
results
lightning_logs
.vscode/launch.json
cometml.json
checkpoints/
.gitignore
aws_cli_login.sh
t5-base-vocab-100/
draw_sample.py
.vscode/settings.json
output_string_logs.txt
