.idea/*
.DS_Store
__pycache__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
data/sg_str_test.json
data/sg_str_train.json
data/sg_str_val.json
data/__MACOSX/._sg_strings
data/__MACOSX/sg_strings/._.DS_Store
data/__MACOSX/sg_strings/._sg_str_test.json
data/__MACOSX/sg_strings/._sg_str_train.json
data/__MACOSX/sg_strings/._sg_str_val.json
